<div class="characteristic">
    {{> systems/liber-imperium/template/sheet/characteristics/information.hbs}}
    {{> systems/liber-imperium/template/sheet/characteristics/total.hbs}}
    {{> systems/liber-imperium/template/sheet/characteristics/name.hbs}}
</div>
